.navbar-container {
  position: absolute;
  width: 100%;
  height: 8.3%;
  background-color: rgba(108, 79, 171, 0.6);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.bar-container {
  display: flex;
  margin-top: -3%;
  margin-left: 8%;
  flex-direction: row;
}

.icon-title {
  font-size: 13.5px;
  color: #fff;
}

.icon-title-selected {
  font-size: 13.5px;
  color: #f6a567;
}

.icon-bar-container {
  display: flex;
  margin-left: 1.5%;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.logout-bar-title {
  color: #fff;
  position: absolute;
  font-size: 13.5px;
  margin-left: 95%;
  margin-top: 1.5%;
}
